body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    padding: 20px 160px;
    height: 100vh;

}

.logo {
    width: 80px;

}

h4 {
    font-size: 30px;

}

h1{
    font-size: 50px;

}

p {
    font-size: 17px;
    margin-bottom: 40px;

}

.botao-carrrinho {
    background: red;
    padding: 10px 20px;
    border-radius: 20px;
}



